@media only screen and ( max-width: 667px ) {
	.container {width: 629px;}
	#header .container li {margin-right: 121px;}
	
	#container .container li label{width: 192px;}
	
	#container .container .trackers li img{width:100%;}
	#container .container .trackers li{width: 24%;}
}
@media only screen and ( max-width: 600px ) {
	.container {width: 563px;}
	#header .container li {margin-right: 87px;}
	#container .container li .width140 {width: 103px !important;}
	#footer .container li img{width:100%;}
	#footer .container li{width: 20%;}	
	
	#container .container li label {width: 160px;}
	#container .container li .input{width: 347px;}
	#container .container li span.btn{width: 375px;}
	#container .container li span.btn a{font-size: 18px;}
	
	#container .container .trackers li {width: 23%;}
	#container .container .right-section img{width:100%;}
	#container .container .right-section{width: 342px;}
}
@media only screen and ( max-width: 568px ) {
	.container {width: 530px;}
	#header .container li {margin-right: 71px;}
	
	#container .container li .input {width: 318px;}
	#container .container li span.btn {width: 346px;}
	#container .container li span.btn2 {width: 99% !important;}
	
	#container .container .right-section {width: 50%;}
	}
@media only screen and ( max-width: 414px ) {
	.container {width: 377px;}
	#header .container li {margin-right: 0;}
	#header .container li a{padding: 8px 20px;}
	#container .container li span.btn a {font-size: 18px;}
	#container .container h2 {font-size: 26px;}
	#container .container li label.width100{width: 68px; margin-right: 11px;}
	#container .container li .width140 {width: 57px;}
	#container .container .text{font-size: 16px;}
	#container .container .text-margin {margin-right: 18px;}
	#container .container li .width140 {width: 51px !important;}
	
	#container .container h1 {font-size: 27px;	}
	#container .container li .input {width: 165px;}
	#container .container .trackers li {width: 25%; margin-right: 30px;}
	#container .container .about-baby img{width:100%;}
	#container .container .left_section img{width:100%;}
	#container .container .left_section {width: 139px;}
}
@media only screen and ( max-width: 384px ) {
	.container {width: 347px;}
	#header .container li a {font-size: 21px;}
	#container .container li span.btn a {font-size: 16px;}
	#container .container h2 {font-size: 25px;}
	#container .container li .width140 {width: 38px;}
	#container .container .rest-text{padding: 44px 0;}
	
	#container .container li span.width291 {width: 291px !important;}
	#container .container h1 {font-size: 26px;}
	#container .container li label {width: 151px;}
	#container .container li .input {width: 134px;}
	
	#container .container li span.btn {width: 341px;}
	#container .container li span.btn2 {width: 97% !important;}
	#container .container .trackers li {width: 24%;	}
	#container .container .left_section {width: 33%;}
	#container .container .right-section h3{font-size: 19px;}
	}
@media only screen and ( max-width: 375px ) {
	.container {width: 338px;}
	#header .container li a {font-size: 20px;}
	#container .container h2 {font-size: 23px;}
	#container .container li .width140 {width: 34px;}
	
	#container .container h1 {font-size: 25px;}
	#container .container li span.btn {width: 328px;}
	#container .container .right-section p {font-size: 14px;}
	#container .container .right-section h3 {font-size: 18px;}
}
@media only screen and ( max-width: 320px ) {
	.container {width: 283px;}
	#header .container li a {padding: 8px 11px;}
	#container .container li span.btn a {font-size: 13px;}
	#container .container h2 {font-size: 20px;}
	#container .container li .width140 {width: 9px !important;}
	
	#container .container h1 {font-size: 21px;}
	#container .container li label {width: 120px;}
	#container .container li{font-size: 16px;}
	#container .container li .input {width: 100px;}
	#container .container li span.btn {width: 279px;}
	#container .container li span.width291 {width: 267px !important;}
	
	#container .container .trackers li {width: 22%;}
	#container .container .left_section{margin-right: 32px;}
	#container .container .right-section {width: 55%;}
	#container .container .right-section p {font-size: 13px;}
	#container .container .right-section h3 {font-size: 17px;}
	